body {
    background: linear-gradient(180deg, #DFF6FF 0%, #47B5FF 51%, #1363DF 95%);
    overflow-x: hidden; 
}

.nav{
    background-color: #06283D;
    list-style:none;
    position: fixed;
    top: 0px;
    /* left: 600px; */
    margin:auto;
    padding: 0px;
    width: 100%;
    /* font-size: 24px;
    font-family: sans-serif;*/
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    font-size: 24px;
    font-family: sans-serif;
    text-align:center;
    display:inline-block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.nav a:hover{
    background-color: aquamarine;
}

h1{
    text-align: center;
    font-size: 80px;
    padding-top: 60px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 500px;
    border: 10px solid whitesmoke;
    border-radius: 40%;
    box-shadow: 10px, 10px, black;
}

h3{
    text-align: center;
    font-size: 60px;
    padding-top: 50px;
}

p{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 150px;
}

.skills1{
    width: fit-content;
    border: 0px;
    border-radius: 0px;
    margin-top: -150px;
}

.skills2{
    width: fit-content;
    border: 0px;
    border-radius: 0px;
    margin-top: 0px;
}

.contact{
    background-color: #06283D;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: auto;
    height: auto;
}